---
- name: Install required packages with apt
  apt:
    update_cache: true
    state: present
    name:
      - fdisk
      - drbd-utils
      - pacemaker
      - pcs
      - corosync

- name: Configure global_common.conf
  copy:
    dest: /etc/drbd.d/global_common.conf
    src: global_common.conf        

- name: Configure drbd resource r0
  template:
    src: r0.res.j2
    dest: /etc/drbd.d/r0.res

- name: Check drbd device already configured
  command: drbdadm status r0
  register: drbd_configured

- name: Create metadata for r0
  command: drbdadm create-md r0
  when: drbd_configured != 0

- name: Enable resource r0
  command: drbdadm up r0
  when: drbd_configured != 0

- name: Start drbd
  systemd:
    state: started
    name: drbd
    enabled: true
  when: drbd_configured != 0

